<div class="col-12 col-md-10 col-lg-6 mx-auto p-3">
  <h1 class="mat-display-1 pt-3 mb-2">Olá, como vai?<angular-emojis [name]="'wave'" size="45"></angular-emojis>
  </h1>
  <p class="mat-subheading-1">Essa aplicação foi criada como portifólio, porém também é utilizada como concentrador de
    conhecimento. Aqui listo as técnicas e ferramentas que aprendo e as coloco em prática. Fique a vontade para explorar
    as aplicações e seus respectivos repositórios.</p>
  <p class="mat-body-2"> &#8212; Marcelo Lopes (Angular Developer and a Heartthrob <angular-emojis [name]="'heart'"
      size="15"></angular-emojis>)</p>
</div>
<div class="col-12 col-md-10 col-lg-6 mx-auto p-3">
  <mat-divider></mat-divider>
</div>
<div class="col-12 col-md-10 col-lg-6 mx-auto px-3 d-flex justify-content-between align-items-center">
  <p class="mat-title"><angular-emojis name="sparkles" [size]="20"></angular-emojis>Projetos<angular-emojis name="sparkles" [size]="20"></angular-emojis></p>
  <mat-form-field>
    <mat-label for="">Pesquisa por nome e chip</mat-label>
    <input type="text" matInput (keyup)="searchProject($event.target.value)">
  </mat-form-field>
</div>
<div class="col-12 col-md-10 col-lg-6 mx-auto p-3 pt-0">
  <ng-container *ngIf="filteredProjects.length > 0; else noProjects">
    <app-project [project]="project" *ngFor="let project of filteredProjects"></app-project>
  </ng-container>
  <ng-template #noProjects>
    <p class="text-muted text-center p-4">Nenhum projeto encontrado</p>
  </ng-template>
</div>
